parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:map\(\) expects callable\(Illuminate\\Database\\Eloquent\\Model, int\)\: array\<mixed\>, Closure\(Karabin\\Fabriq\\Models\\Comment\)\: array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Data/CommentData.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:map\(\) expects callable\(Illuminate\\Database\\Eloquent\\Model, int\)\: array\<mixed\>, Closure\(Karabin\\Fabriq\\Models\\Page\)\: array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Data/PageData.php

		-
			message: '#^Parameter \#1 \$items of static method Karabin\\Fabriq\\Data\\PageTreeOptionData\:\:collectTree\(\) expects iterable\<Karabin\\Fabriq\\Models\\Page\>, Illuminate\\Database\\Eloquent\\Collection\<int, Illuminate\\Database\\Eloquent\\Model\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Data/PageTreeOptionData.php

		-
			message: '#^Parameter \#1 \$image of static method Karabin\\Fabriq\\Data\\UserImageData\:\:fromModel\(\) expects Karabin\\Fabriq\\Models\\Image\|null, Illuminate\\Database\\Eloquent\\Model\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Data/UserData.php

		-
			message: '#^Parameter \#1 \$invitation of static method Karabin\\Fabriq\\Data\\InvitationData\:\:fromModel\(\) expects Karabin\\Fabriq\\Models\\Invitation, Illuminate\\Database\\Eloquent\\Model given\.$#'
			identifier: argument.type
			count: 1
			path: src/Data/UserData.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:getFirstMedia\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Http/Controllers/Admin/AdminPageController.php

		-
			message: '#^Instanceof between Karabin\\Fabriq\\Models\\User and Karabin\\Fabriq\\Models\\User will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Http/Controllers/Admin/AdminPageController.php

		-
			message: '#^PHPDoc tag @var with type mixed is not subtype of native type Illuminate\\Support\\Collection\.$#'
			identifier: varTag.nativeType
			count: 1
			path: src/Http/Controllers/Admin/AdminPageController.php

		-
			message: '#^Parameter \#1 \$items of method Karabin\\Fabriq\\Http\\Controllers\\Admin\\AdminPageController\:\:transformMenuTreeItems\(\) expects iterable\<int, Karabin\\Fabriq\\Models\\MenuItem\>, array\|Illuminate\\Database\\Eloquent\\Collection\<int, Illuminate\\Database\\Eloquent\\Model\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/Controllers/Admin/AdminPageController.php

		-
			message: '#^Using nullsafe property access "\?\-\>locked" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Http/Controllers/Admin/AdminPageController.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 3
			path: src/Http/Controllers/Admin/AdminPageController.php

		-
			message: '#^Using nullsafe property access "\?\-\>slug" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Http/Controllers/Admin/AdminPageController.php

		-
			message: '#^Instanceof between Karabin\\Fabriq\\Models\\User and Karabin\\Fabriq\\Models\\User will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Http/Controllers/Admin/MenuController.php

		-
			message: '#^PHPDoc tag @var with type mixed is not subtype of native type Illuminate\\Support\\Collection\.$#'
			identifier: varTag.nativeType
			count: 1
			path: src/Http/Controllers/Admin/MenuController.php

		-
			message: '#^Parameter \#1 \$items of method Karabin\\Fabriq\\Http\\Controllers\\Admin\\MenuController\:\:transformMenuTreeItems\(\) expects iterable\<int, Karabin\\Fabriq\\Models\\MenuItem\>, array\|Illuminate\\Database\\Eloquent\\Collection\<int, Illuminate\\Database\\Eloquent\\Model\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/Controllers/Admin/MenuController.php

		-
			message: '#^Using nullsafe property access "\?\-\>locked" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Http/Controllers/Admin/MenuController.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 3
			path: src/Http/Controllers/Admin/MenuController.php

		-
			message: '#^PHPDoc tag @var with type mixed is not subtype of native type Illuminate\\Support\\Collection\.$#'
			identifier: varTag.nativeType
			count: 1
			path: src/Http/Controllers/Admin/MenuItemController.php

		-
			message: '#^Parameter \#1 \$items of method Karabin\\Fabriq\\Http\\Controllers\\Admin\\MenuItemController\:\:transformMenuTreeItems\(\) expects iterable\<int, Karabin\\Fabriq\\Models\\MenuItem\>, array\|Illuminate\\Database\\Eloquent\\Collection\<int, Illuminate\\Database\\Eloquent\\Model\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/Controllers/Admin/MenuItemController.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Http/Controllers/Admin/MenuItemController.php

		-
			message: '#^PHPDoc tag @var with type mixed is not subtype of native type Illuminate\\Support\\Collection\.$#'
			identifier: varTag.nativeType
			count: 1
			path: src/Http/Controllers/Admin/MenuItemTreeController.php

		-
			message: '#^Parameter \#1 \$items of method Karabin\\Fabriq\\Http\\Controllers\\Admin\\MenuItemTreeController\:\:transformMenuTreeItems\(\) expects iterable\<int, Karabin\\Fabriq\\Models\\MenuItem\>, array\|Illuminate\\Database\\Eloquent\\Collection\<int, Illuminate\\Database\\Eloquent\\Model\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/Controllers/Admin/MenuItemTreeController.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Http/Controllers/Admin/MenuItemTreeController.php

		-
			message: '#^Instanceof between Karabin\\Fabriq\\Models\\User and Karabin\\Fabriq\\Models\\User will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Http/Controllers/Admin/PageCloneController.php

		-
			message: '#^Using nullsafe property access "\?\-\>locked" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Http/Controllers/Admin/PageCloneController.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: src/Http/Controllers/Admin/PageCloneController.php

		-
			message: '#^Instanceof between Karabin\\Fabriq\\Models\\User and Karabin\\Fabriq\\Models\\User will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Http/Controllers/Admin/PageController.php

		-
			message: '#^Using nullsafe property access "\?\-\>locked" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Http/Controllers/Admin/PageController.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: src/Http/Controllers/Admin/PageController.php

		-
			message: '#^Using nullsafe property access "\?\-\>slug" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Http/Controllers/Admin/PagePreviewUrlController.php

		-
			message: '#^Instanceof between Karabin\\Fabriq\\Models\\User and Karabin\\Fabriq\\Models\\User will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Http/Controllers/Admin/PagePublishController.php

		-
			message: '#^Using nullsafe property access "\?\-\>locked" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Http/Controllers/Admin/PagePublishController.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: src/Http/Controllers/Admin/PagePublishController.php

		-
			message: '#^Instanceof between Karabin\\Fabriq\\Models\\User and Karabin\\Fabriq\\Models\\User will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Http/Controllers/Admin/PageTreeController.php

		-
			message: '#^Using nullsafe property access "\?\-\>locked" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Http/Controllers/Admin/PageTreeController.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: src/Http/Controllers/Admin/PageTreeController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:getFirstMedia\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Http/Controllers/Admin/ProfileSettingsController.php

		-
			message: '#^Instanceof between Karabin\\Fabriq\\Models\\User and Karabin\\Fabriq\\Models\\User will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Http/Controllers/Admin/SmartBlockController.php

		-
			message: '#^Using nullsafe property access "\?\-\>locked" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Http/Controllers/Admin/SmartBlockController.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: src/Http/Controllers/Admin/SmartBlockController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Pagination\\AbstractPaginator\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:through\(\) expects callable\(Illuminate\\Database\\Eloquent\\Model, int\)\: Karabin\\Fabriq\\Data\\ArticleData, Closure\(Karabin\\Fabriq\\Models\\Article\)\: Karabin\\Fabriq\\Data\\ArticleData given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/Controllers/Api/Fabriq/ArticleController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Pagination\\AbstractPaginator\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:through\(\) expects callable\(Illuminate\\Database\\Eloquent\\Model, int\)\: Karabin\\Fabriq\\Data\\ContactData, Closure\(Karabin\\Fabriq\\Models\\Contact\)\: Karabin\\Fabriq\\Data\\ContactData given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/Controllers/Api/Fabriq/ContactController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Pagination\\AbstractPaginator\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:through\(\) expects callable\(Illuminate\\Database\\Eloquent\\Model, int\)\: Karabin\\Fabriq\\Data\\FileData, Closure\(Karabin\\Fabriq\\Models\\File\)\: Karabin\\Fabriq\\Data\\FileData given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/Controllers/Api/Fabriq/FileController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Pagination\\AbstractPaginator\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:through\(\) expects callable\(Illuminate\\Database\\Eloquent\\Model, int\)\: Karabin\\Fabriq\\Data\\ImageData, Closure\(Karabin\\Fabriq\\Models\\Image\)\: Karabin\\Fabriq\\Data\\ImageData given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/Controllers/Api/Fabriq/ImageController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Pagination\\AbstractPaginator\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:through\(\) expects callable\(Illuminate\\Database\\Eloquent\\Model, int\)\: Karabin\\Fabriq\\Data\\SmartBlockData, Closure\(Karabin\\Fabriq\\Models\\SmartBlock\)\: Karabin\\Fabriq\\Data\\SmartBlockData given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/Controllers/Api/Fabriq/SmartBlockController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Pagination\\AbstractPaginator\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:through\(\) expects callable\(Illuminate\\Database\\Eloquent\\Model, int\)\: Karabin\\Fabriq\\Data\\VideoData, Closure\(Karabin\\Fabriq\\Models\\Video\)\: Karabin\\Fabriq\\Data\\VideoData given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/Controllers/Api/Fabriq/VideoController.php

		-
			message: '#^Call to function method_exists\(\) with Illuminate\\Foundation\\Auth\\User and ''loadMissing'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Http/Middleware/HandleInertiaRequests.php

		-
			message: '#^Call to an undefined method DOMNameSpaceNode\|DOMNode\:\:getAttribute\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Models/Comment.php

		-
			message: '#^Strict comparison using \!\=\= between Illuminate\\Database\\Eloquent\\Collection\<int, Illuminate\\Database\\Eloquent\\Model\> and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/Models/Page.php

		-
			message: '#^PHPDoc type array\<int, string\> of property Karabin\\Fabriq\\Models\\User\:\:\$fillable is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$fillable\.$#'
			identifier: property.phpDocType
			count: 1
			path: src/Models/User.php

		-
			message: '#^PHPDoc type array\<int, string\> of property Karabin\\Fabriq\\Models\\User\:\:\$hidden is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$hidden\.$#'
			identifier: property.phpDocType
			count: 1
			path: src/Models/User.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:map\(\) expects callable\(Illuminate\\Database\\Eloquent\\Model, int\)\: array\<string, mixed\>, Closure\(Karabin\\Fabriq\\Models\\Page\)\: array\<string, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Support/MenuTreeSerializer.php

		-
			message: '#^Parameter \#1 \$menuItems of static method Karabin\\Fabriq\\Support\\MenuTreeSerializer\:\:collection\(\) expects iterable\<Karabin\\Fabriq\\Models\\MenuItem\>, Illuminate\\Database\\Eloquent\\Collection\<int, Illuminate\\Database\\Eloquent\\Model\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Support/MenuTreeSerializer.php

		-
			message: '#^Parameter \#1 \$template of static method Karabin\\Fabriq\\Support\\MenuTreeSerializer\:\:template\(\) expects Karabin\\TranslatableRevisions\\Models\\RevisionTemplate, Illuminate\\Database\\Eloquent\\Model given\.$#'
			identifier: argument.type
			count: 1
			path: src/Support/MenuTreeSerializer.php

		-
			message: '#^Trait Karabin\\Fabriq\\Traits\\FabriqUser is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Traits/FabriqUser.php
